/***************************************************************
 * Details from row in table used by list
 */

.details {
  width: 80%;
  max-width: none;

  @media print {
    position: relative;
    top: 4em;
    left: 0;
    transform: none;
  }
}

.details__header {
  font-size: $font-size;
  font-weight: bold;
}

.details__header, .details__content {
  margin-left: 2em;
}

.details__group-title {
  font-size: $font-size-small;
  font-weight: bold;
}

.details__ul {
  margin: 0 0 2em 4em;
}

.details__li {
  list-style-type: none;
  line-height: 0;
  margin-bottom: 0.3em;
}

.details__row-title, .details__row-value {
  font-size: $font-size-smaller;
  line-height: 1.4em;
}

.details__row-title {
  font-weight: bold;
}

.details__row-value {
}

.details__buttons__button {
  margin-right: 0.25em;
}


@media print {

  @page :left {
    margin: 1cm;
  }

  @page :right {
    margin: 1cm;
  }

  .print {
    display: block;
  }

  .no-print {
    display: none;
  }
}