/****************************************************************
 * Colors
 */

$input-border-color: #a8a8a8;

$white : #ffffff;
$black : #000;

$grey : #ccc;
$superLightGrey : #f8f8f8;
$lightGrey : #e8e8e8;
$darkLightGrey : #d8d8d8;
$mediumGrey : #a8a8a8;
$darkGrey : #585858;
$superDarkGrey : #383838;
$ultraDarkGrey : darken($superDarkGrey, 15);
$warmGrey : #e2e2d8;
$darkWarmGrey : #b7b79e;
$superDarkWarmGrey : #302f2a;
