@import "~react-datepicker/dist/react-datepicker.css";
@import "buttons";
@import "datepicker-mod";
@import "simple-select";

/***************************************************************
 * Form
 */

.registration {
  //border: 1px solid lightgray;
  //padding: 0.7em 6px 0 6px;
  width: 100%;

}

.form {
  width: 100%;
}

.form__row {
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 0;
}

.form__label, .form__input__label {
  font-size: $font-size;
  margin: 0 15px 0 3px;

}

.form__input {
  height: 2rem;
}

.form__input__field {
  font-size: $font-size;
  display: block;
  border: 1px solid $input-border-color;
  padding: 0.3rem;
  width: 100%;
}

.form__input[type='date'] {
  height: 2.9em;
}

.form__radioab {
  line-height: 1.9em;
  //margin-bottom: 0.3em;
}

.form__radioab__input {
  margin-right: 0.25em;
}


/****************************************************************
 * Various widths
 */

.form__element--width-quarter {
  width: 25%;
}

.form__element--width-third {
  width: percentage(1/3);
}

.form__element--width-two-thirds {
  width: percentage(2/3);
}

.form__element--width-full {
  width: 100%;
}

.form__element--width-three-quarters {
  width: 75%;
}

.form__element--width-half {
  width: 50%;
}

.form__element--width-half {
  width: 50%;
}

.form__element--margin-right {
  margin-right: 0.3em;
}

.form__element--can-grow {
  flex-grow: 1;
}




/****************************************************************
 * Error
 */

.form__input--error {
  box-shadow: 0 0 2px red;
}

.form__input__error-message {
  font-size: $font-size-small;
  display: block;
  color: red;
  float: left;
  margin: 5px 0 0 0;
}
