/*
 * BEM: Block, Element, Modifier
 * .block__element--modifier
 *
 * Prefixes:
 * http://blog.kaelig.fr/post/48196348743/fifty-shades-of-bem
 *
 * p- Page specific (class applied on the body element), very useful for static pages where maintainability is not at stake — should be avoided in the application itself (e.g.: p-Homepage).
 * l- Layout, columning, wrappers and containers… (e.g.: l-Masthead, l-Footer)
 * c- For components (e.g.: c-Dropdown, c-Button…).
 * u- Utility classes — will probably never change, should never be overridden anywhere else in our code (e.g.: u-textCenter, u-clearfix…).
 * js- Hooks for JavaScript: should never appear in the CSS itself.
 *
 */

$media-big: 980px;
$media-small: 668px;
$border-radius: 0.25em;
$input-border-color: #a8a8a8;

//@import '~css-reset-and-normalize/css/reset-and-normalize.min.css';
@import '~css-reset-and-normalize/css/flavored-reset-and-normalize.min.css';
@import 'navigation';
@import 'form';
@import 'table';
@import '~react-datepicker/dist/react-datepicker.css';
@import 'datepicker-mod';
@import 'rc-select-mod';
@import 'popfromtop';
@import 'details-and-print';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Courier', sans-serif;
  font-size: 16px;
}

/***************************************************************
 * Page
 */

.page {
  margin: 0 auto;
  width: 80%;
  margin-top: 30px;
}

.page__header {
  display: flex;
  margin-bottom: 20px;
}

.page__header__title {
  font-weight: bold;
  font-size: 1.6rem;
  margin-right: 20px;
}

.content--max-width {
  width: 100%;
}

.icon-empty:before {
  content: '\00a0\00a0';
}

.noSpaceTag {
  display: none;
}


/***************************************************************
 * Content
 */

.content {
}

.content__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  max-width: 800px;

  border: 1px none grey;
  padding: 0.7em 0 0 0;
}



/***************************************************************
 * Selection component
 */

.selection {
  position: relative;
}

